body {
    background-color: black;
}

.heading {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    height: 85px;
    font-size: 40px;
    text-align: center;
    background-color: grey;
}

button {
    width: 90px;
    font-size: 24px;
    font-weight: bold;
    height: 80px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.inside :nth-child(4n) {
    background-color: rgb(189, 36, 36);

}

button:hover {
    background-color: orange;
}

.inside {
    display: flex;
}